/* Large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }

    .linediv-l {
        border-right: 1px white solid;
    }

    .linediv-r {
        border-left: 1px white solid;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .copy {
        padding: 2.5% 10%;
    }

    .linediv-l {
        border-bottom: 1px white solid;
    }

    .linediv-r {
        border-top: 1px white solid;
    }
}
/* All form factors */
/* Main body and headings */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}

p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}

p {
    font-size: 18px;
    line-height: 24px;
}



/* Video pitch and Action */
.pitch {
    padding 2.5% 0%;
}

.order {
    padding: 2% 0%;
}

.actions {
    background-color: #343434;
    padding: 3% 0%;
}

.video, .thermometer, .order, .social, .statistics {
    text-align: center;
}

    .statistics h3, .statistics p {
        color: white;
    }
/* Marketing Copy and Footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}

.asset {
    padding: 2.5% 0%;
}

.footer {
    width: 100%;
    color: #cccccc;
    text-align: center;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    border-color: #252525;
}

    .footer p {
        font-size: 11px;
    }

    .footer a {
        color: #cccccc;
        text-decoration: none;
    }
/* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */
div.addthis_toolbox {
    width: 180px;
    margin: 0 auto;
}

